@{
    ViewData["Title"] = "Home Page";
    string[]? days = ViewData["days"] as string[];
}

<div class="text-center">
    <h1 class="display-4">Welcome to COMP4870</h1>
    <p>Nick Hughes | A01178826 | When I graduate, I would like to be a (preferably remote) web developer.</a>.</p>
    
</div>
